<div>
  <div class="accounts-list">
    <%= form_tag("/signin", method: "post", id: "form_signin", class: "form-horizontal") do %>
    <input type="hidden" name="accountid" />
  <ul class="list-group">
    <% @appSettings.each do |s| %>
      <li class="list-group-item" data-id="<%= s.id %>">
        <div class="media">
            <div class="media-left">
                <%= image_tag gravatar_url(s.client_email, 64), alt: "" %>
            </div>
            <div class="media-body">
              <div><h4 class="media-heading"> <%= s.client_email %></h4></div>
                CLIENT_ID: <%= s.client_id[0,50] + "..." %></br>
                CLIENT_SECRET: <%= s.client_secret %>
            </div>
            <div class="media-right">
                <button type="button" class="btnDelete btn btn-danger btn-sm">Delete</button>
            </div>
      </div>
      </li>
    <% end%>
  </ul>
  <% end %>

</div>
<div class="alert alert-info" role="alert">
  <b>Remember</b>: Before you start using Rails App you must configure your Salesforce. A new connected app must be created. Doing that you will receive the CLIENT_ID and CLIENT_SECRET. Only with the right information the Rails App will be able to connect with Salesforce e manage your Leads. If you need any help you can find the required steps accessing <a href="https://help.salesforce.com/apex/HTViewHelpDoc?id=connected_app_create.htm">Salesforce Support.</a>
</div>
  <div class="alert alert-danger" role="alert">
    <b>Important</b>: The CLIENT_ID and CLIENT_SECRET are being shown just as a matter of demostrantion. They would not be visible in a real world application.
  </div>
  <div>
    <button class="btn btn-primary" id="addNew" type="button" data-toggle="modal" data-target="#myModal" role="button">Add Account</button>
  </div>
</div>
<!-- Modal -->
<div>
<%= form_tag("/appsettings", method: "post", class: "form-horizontal") do %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Account</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="col-sm-10">
              <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
              <input type="text" name="inputId" class="form-control" id="inputId" placeholder="CLIENT_ID" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
              <input type="text" name="inputSecret" class="form-control" id="inputSecret" placeholder="CLIENT_SECRET" required>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<script>
$('.list-group-item').click(function () {
    var eid = $(this).attr("data-id");
    var $frm = $('#form_signin');
    //set the value of the hidden element
    $frm.find('input[name="accountid"]').val(eid);
    //submit the form
    $frm.submit();
});

$(".btnDelete").click(function(){
    $('#form_signin').attr('action', "/deleteaccount").submit();
});
</script>
