<div class="jumbotron">
     <h3>Awesome! You have <%= @leadsrd.count %> Lead(s) ready to go.</h3>
     <p>Now you can pick up who you want to submit to Salesforce. </p>
     <p>If you are just interested in the current Salesforce Leads list you can check that out by clicking on the button below.</p>
     <p><a class="btn btn-primary btn-lg" id="btnselectall" href="/leadsforce" role="button">View Current Leads</a></p>
</div>
  <div>
    <%= form_tag("/salesforce", method: "post") do %>
    <p>
      <a class="btn btn-primary btn-lg" id="btnselectall" href="#" role="button">Select All</a>
      <button class="btn btn-primary btn-lg" id="submit" type="submit" role="button">Submit to Salesforce</button>
    </p>
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>E-Mail</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>Phone</th>
        <th>WebSite</th>
        <th>Status</th>
        <th></th>
      </tr>
    <% @leadsrd.each do |l| %>
    <tr>
      <td><%= l.id %></td>
      <td><%= l.name %></td>
      <td><%= l.last_name %></td>
      <td><%= l.email %></td>
      <td><%= l.company %></td>
      <td><%= l.job_title %></td>
      <td><%= l.phone %></td>
      <td><%= l.website %></td>
      <td><%= l.status %></td>
      <td><%= check_box_tag 'lead_id[]', l.id %></td>
    </tr>
    <% end %>
    </table>
    <% end %>
</div>
