<div class="jumbotron">
     <h3>You have <%= @leadsforce.count %> Lead(s) available on Salesforce.</h3>
     <p>What would you like to do now?</p>
     <p>
       <a class="btn btn-primary btn-lg" id="btnleadsrd" href="/leadsrd" role="button">Select Leads from RD</a>
       <a class="btn btn-primary btn-lg" id="btngetout" href="http://www.salesforce.com" role="button">Take me to Salesforce</a>       
     </p>
</div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>E-Mail</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>Phone</th>
        <th>WebSite</th>
        <th>Status</th>
      </tr>
    <% @leadsforce.each do |l| %>
    <tr>
      <td><%= l.Id %></td>
      <td><%= l.FirstName %></td>
      <td><%= l.LastName %></td>
      <td><%= l.Email %></td>
      <td><%= l.Company %></td>
      <td><%= l.Title %></td>
      <td><%= l.Phone %></td>
      <td><%= l.Website %></td>
      <td><%= l.Status %></td>
    </tr>
    <% end %>
    </table>
</div>
